.features {
    padding-top: 125px;
    padding-bottom: 125px;
    &_cover {
        height: 400px;
        text-align: center;
        h2 {
            text-transform: capitalize;
            font-family: $Rubik;
            font-size: 1.5rem;
            @include tablets {
                font-size: 1.9rem;
            }
            @include desktop {
                font-size: 2.2rem;
            }
        }
        p {
            font-size: 0.9rem;
        }
    }
    &_wrapper {
        position: absolute;
        bottom: -125px;
        right: 0;
        left: 50%;
        width: 100%;
        transform: translatex(-50%);
        color: rebeccapurple;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.4em;
        grid-row-gap: 1em;
        padding: 0 1em;
        align-items: center;
        height: 250px;
        @include tablets {
            grid-column-gap: 0.8em;
        }
        @include desktop {
            height: 150px;
            bottom: -75px;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 1em;
        }
        article {
            border-radius: 0.5rem;
            padding: 1em;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            box-shadow: 1px 2px 50px 0px rgba(255, 0 ,0 / 35%,0.2);
            position: relative;
            z-index: 1;
            &:hover {
                h3 {
                    color: black;
                }
            }
            &::before {
                border-radius: 0.5rem;
                content: "";
                transition: all .3s;
                position: absolute;
                top: 0; left: 0;
                width: 100%;
                height: 100%;
                background-color: tomato;
                transform: scale(0);
                z-index: -1;
            }
            h3 {
                color: tomato;
               font-size: 1.5rem;
               @include mobile {
                   font-size: 2.3rem;
               }
               @include tablets {
                   font-size: 3.6rem;
               }
               @include desktop {
                font-size: 4.4rem;
               }
             
            }
            p {
                color: black;
                text-transform: capitalize;
                font-family: $Patua;
                font-size: 0.7rem;
                @include mobile {
                    font-size: 0.9rem;
                }
            }
            &:hover::before {
                transform: scale(1);
               
            }
        }
    }
}
